fastapi
uvicorn[standard]
python-multipart
Pillow
imagehash
networkx
numpy
scipy
scikit-learn
pydantic[email]
aiofiles
httpx
python-dotenv
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
